/* intro headline */
.intro {
  width: 100vw;
  height: 100vh;
  position: relative;

  h1 {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8svw;
    font-weight: bold;
    font-style: italic;
  }
}