@import "vars.css";
@import "type.css";

* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

h1,
h2,
h3 {
	user-select: none
}

body {

	background: var(--bg);
}

.no-user-select {
	user-select: none;
}

a {
	position: relative;
	z-index: var(--foreground);
}

#MAIN {
	border-radius: 6px;
	background-color: var(--bg_panel);
	z-index: 2;
	position: absolute;
	overflow: hidden;
	left: var(--app-position-left);
	top: var(--app-position-top);
	height: var(--app-height);
	width: var(--app-width);
	box-shadow: 0 0 10px rgba(14, 14, 24, 0.66) inset;
}

#HTML {
	overflow: auto;
	overflow-x: hidden;
	position: relative;
	z-index: 2;
	height: 100dvh;
	display: block;
}

/* Tries to make sure things are centered within the parent */
.center-content {
	align-content: center;
	height: 100vh;
}

img {
	max-width: 100%;
}

.wrap {
	padding: var(--half-padding);
}

#GL {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}


/* ==== HEADER ==== */
header {
	position: fixed;
	z-index: 9999999;
	padding-top: var(--padding);
	width: 99%;


	h1:nth-child(3) {
		text-align: right;
	}

	h1:nth-child(1),
	h1:nth-child(3) {
		font-size: 80%;

		&:hover {
			cursor: pointer;
		}
	}

	h1:nth-child(2) {
		text-align: center;
	}

	h1 {
		padding: var(--padding);
		font-size: 120%;
		vertical-align: top;
		padding-top: 0;
	}
}


/*==== PAGE CONTENT ===== */
.page-content {
	position: relative;
}

.page-content.home {
	//background:red;
	height: 100dvh;

	h1 {
		position: absolute;
		left: 50%;
		display: inline;
		transform: translateX(-50%);
		font-size: calc(40svh);
		white-space: nowrap;
		letter-spacing: -1px;
		bottom: 0;
	}
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
}