:root {
    --bg_panel: rgba(2, 2, 3, 0.46);
    --bg: rgb(26, 31, 37);
    --border-color: #2d3741;
    --border: solid 1px var(--border-color);
    --anim_time: 0.5s;

    /* Padding */
    --padding: 40px;
    --half-padding: calc(var(--padding) / 2);

    /* Z-Index levels */
    --foreground: 99;
    --midground: 50;
    --background: 1;
    --nonactiveBackground: -1;

    /* Main container padding */
    --border-padding: 20px;
    --app-position-left: calc((var(--border-padding) / 2) + 1px);
    --app-position-top: calc((var(--border-padding) / 2) - 1px);
    --app-width: calc(100% - var(--border-padding));
    --app-height: calc(100% - var(--border-padding));

    /* container sizes */
    --small_breakpoint: 640px;
    --medium_breakpoint: 1024px;
    --large_breakpoint: 1280px;

    --anim_distance: 100px;

    /* Canvas stuff */
    --max-canvas-width: 100%;
    --max-canvas-height: 100%;


}
